/*---------------------------------------------------------------------------*\
  #BASE
\*---------------------------------------------------------------------------*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}





/*---------------------------------------------------------------------------*\
  #BACKGROUND
\*---------------------------------------------------------------------------*/

/**
 * The generic blue sky background.
 */
.sky {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #96DBEE;
}

/**
 * The 'top of the sky' dark blue gradient lines. The line stops are calculated
 * using percentages, which _should_ align with the pixel grid regardless of
 * height (assuming the size of the grid is resized relative to the height).
 *
 * However, for whatever reason, the grid never aligns if the size of the grid
 * is not an integer.
 */
.sky::before {
	display: block;
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 400px;
	background-image:
	  linear-gradient(to bottom,
	    #50B2DC 0%,
	    #6FC3DC 55%,
	    transparent 55%,
	    transparent 60%,
	    #6FC3DC 60%,
	    #6FC3DC 65%,
	    transparent 65%,
	    transparent 95%,
	    #6FC3DC 95%);
	background-repeat: repeat-x;
	content: "";
}

/**
 * The pixel grid for the sky.
 */
.sky::after {
	display: block;
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-image:
	  linear-gradient(to right,
	    rgba(0, 0, 0, 0.125) 5%,
	    transparent 5%,
	    transparent 95%,
	    rgba(0, 0, 0, 0.125) 95%),
	  linear-gradient(to bottom,
	    rgba(0, 0, 0, 0.125) 5%,
	    transparent 5%,
	    transparent 95%,
	    rgba(0, 0, 0, 0.125) 95%);
	background-size: 20px 20px;
	background-repeat: repeat;
	content: "";
}





/*---------------------------------------------------------------------------*\
  #GROUND
\*---------------------------------------------------------------------------*/

.ground {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 120px;
	background-color: #BA7603;
}

.ground::before {
	display: block;
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 120px;
	background-image:
	  linear-gradient(to bottom,
	    #048809 16.667%,
	    #056103 16.667%,
	    #056103 33.333%,
	    #985603 33.333%,
	    #985603 50%,
	    #B67C0A 50%,
	    #B67C0A 66.667%,
	    #B57A04 66.667%,
	    #B57A04 83.333%,
	    #CB8804 83.333%);
	background-size:
	  20px 120px;
	content: "";
}

.ground::after {
	display: block;
	position: absolute;
	z-index: 0;
	border-top: 1px solid #5D3B01;
	width: 100%;
	height: 100%;
	background-image:
	  linear-gradient(to right,
	    rgba(0, 0, 0, 0.5) 5%,
	    transparent 5%,
	    transparent 95%,
	    rgba(0, 0, 0, 0.5) 95%),
	    linear-gradient(to bottom,
	    rgba(0, 0, 0, 0.5) 5%,
	    transparent 5%,
	    transparent 95%,
	    rgba(0, 0, 0, 0.5) 95%);
	background-size: 20px 20px;
	background-repeat: repeat;
	content: "";
}





/*---------------------------------------------------------------------------*\
  #MARIO
\*---------------------------------------------------------------------------*/

/**
 * The container for the Mario `<svg>`.
 */
.mario {
	position: absolute;
	z-index: 2;
	bottom: 119.21875px;
	left: 50%;
	margin-left: -100px;
}

	/**
	 * The padding is used to offset the SVG by half of the stroke's width.
	 * Because the stroke width is relative to the width, some minor calculations
	 * have to be done to work out the stroke width:
	 *
	 * = ((width / viewBox width) * stroke-width) / 2
	 * = ((200px / 16) * 0.125) / 2
	 * = (12.5px * 0.125) / 2
	 * = 1.5625px / 2
	 * = 0.78125px
	 */
	.mario > svg {
		display: block;
		padding: 0.78125px;
		width: 200px;
	}

/**
 * This hides the colours of Mario on load.
 */
.mario .state--idle .fill {
	opacity: 0;
}

/**
 * Mario's hide frame is hidden when he is in his "idle" state.
 */
.mario.is-idle .state--jump {
	display: none;
}

/**
 * Mario's jump frame is hidden when he is in his "jump" state.
 */
.mario.is-jumping .state--idle {
	display: none;
}

/**
 * When Mario is jumping, shift the entire object to create a more fluid
 * jumping animation.
 */
.mario.is-jumping svg {
	transform: translateX(-9.375px) translateY(-9.375px);
}
