/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background: #f5f5f5;
}

#mario {
  width: 400px;
}

  #mario > svg {
    display: block;
    padding: 5px;
  }

#fill {
	opacity: 0;
}
