* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.mario {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -75px;
	width: 150px;
	height: 150px;
}

	.mario > svg {
		display: block;
	}

.mario .state--idle .fill {
	opacity: 0;
}

.mario.is-idle .state--jump {
	display: none;
}

.mario.is-jumping .state--idle {
	display: none;
}
